{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
	<head>
		<title>Please login</title>
	</head>
	<body>
	<h1>Welcome to VersionOne Biggest Loser</h1>
	
		{% if form.errors %}
			<p class='text-warning'>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form role="form" class="form-horizontal" method="post" action="{% url 'bigLoser_login' %}">
			{% csrf_token %}
			{{ form }}
			<input class="btn btn-primary" type="submit" value="Login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

	<h3><a href="{% url 'register_user' %}">Click here to register</a></h3>
	</body>
</html>
